<!-- <form method="POST" class="producto-edit">
        <h3 class="titulo-opt">Editando <span class="skip-edit-pro"><i class="fas fa-times"></i></span></h3>
        <div class="datos-form">
            <input type="text" class="id-producto-form" name="id-producto-form" id="id-producto-form" hidden>
            <input type="text" class="nombre" name="nombre" id="nombre" placeholder="Nombre" required>
            <input type="text" class="descripcion" name="descripcion" id="descripcion" placeholder="Descripcion">
            <input type="number" class="precio" name="precio" id="precio" placeholder="$0.0" required>
            <input type="number" class="stock" name="stock" id="stock" placeholder="$0.0" required>
            <input type="file" class="imagen" name="imagen" id="imagen">
            <input type="text" class="nameImage" name="nameImage" id="nameImage" hidden>
        </div>
        <div class="edit-pro-opts">
            <app-cargando></app-cargando>
            <button class="button btn-action-pro">Editar</button>
        </div>
    </form> -->